In [19]:
import pandas as pd
import random

# Node

In [20]:
df_nodes = pd.read_csv('./../data/nodes.csv').drop(columns=['Unnamed: 0'])
df_nodes.head()

,first_name,last_name,birthDate,email,phone,gender,city,country,country_code,lat,long,movie_genres,favourite_movie,university,favourite_color,continent
0,Cristiano,Hendron,11/10/1985,chendron0@arstechnica.com,165-321-0452,Male,Araguaína,Brazil,BR,-7.192773,-48.204827,['nan'],"Replacement Killers, The",NaN,Fuscia,America
1,Matti,Buckston,1/2/1992,mbuckston1@usnews.com,960-236-4872,Female,Lages,Brazil,BR,-27.815714,-50.326396,"['Comedy', 'Musical']","Mikado, The",Instituto Mauá de Tecnologia,Turquoise,America
2,Lynsey,Reuben,1/7/1979,lreuben2@marketwatch.com,176-267-4910,Female,Belém,Brazil,BR,-6.690640,-35.500100,['nan'],"Blood Spattered Bride, The (La novia ensangren...",NaN,Pink,America
3,Isadora,Orrum,8/5/1981,iorrum3@comcast.net,401-567-4937,Female,Genova,Italy,IT,44.397270,8.971462,"['Drama', 'Musical']",Sincerely Yours,NaN,Teal,Europe
4,Agnola,Gumly,7/14/1987,agumly4@tripod.com,547-700-3798,Female,Jōetsu,Japan,JP,37.090983,138.169801,['nan'],"Painting Sellers, The (Taulukauppiaat)",NaN,Maroon,Asia

In [21]:
new_nodes_df = pd.DataFrame()

for i in range(1, 11):
    new_nodes_df = pd.concat([new_nodes_df, df_nodes])
    
new_nodes_df.head()

,first_name,last_name,birthDate,email,phone,gender,city,country,country_code,lat,long,movie_genres,favourite_movie,university,favourite_color,continent
0,Cristiano,Hendron,11/10/1985,chendron0@arstechnica.com,165-321-0452,Male,Araguaína,Brazil,BR,-7.192773,-48.204827,['nan'],"Replacement Killers, The",NaN,Fuscia,America
1,Matti,Buckston,1/2/1992,mbuckston1@usnews.com,960-236-4872,Female,Lages,Brazil,BR,-27.815714,-50.326396,"['Comedy', 'Musical']","Mikado, The",Instituto Mauá de Tecnologia,Turquoise,America
2,Lynsey,Reuben,1/7/1979,lreuben2@marketwatch.com,176-267-4910,Female,Belém,Brazil,BR,-6.690640,-35.500100,['nan'],"Blood Spattered Bride, The (La novia ensangren...",NaN,Pink,America
3,Isadora,Orrum,8/5/1981,iorrum3@comcast.net,401-567-4937,Female,Genova,Italy,IT,44.397270,8.971462,"['Drama', 'Musical']",Sincerely Yours,NaN,Teal,Europe
4,Agnola,Gumly,7/14/1987,agumly4@tripod.com,547-700-3798,Female,Jōetsu,Japan,JP,37.090983,138.169801,['nan'],"Painting Sellers, The (Taulukauppiaat)",NaN,Maroon,Asia

In [22]:
df_mescolato = new_nodes_df.sample(frac=1).reset_index(drop=True)
df_mescolato.shape

(100000, 16)

In [23]:
df_mescolato.head()

,first_name,last_name,birthDate,email,phone,gender,city,country,country_code,lat,long,movie_genres,favourite_movie,university,favourite_color,continent
0,Hewie,Nial,11/7/1970,hnial9j@fema.gov,832-738-9561,Male,Palhoça,Brazil,BR,-27.633137,-48.653927,"['Action', 'Crime', 'Thriller']",Vibrator,NaN,Mauv,America
1,Gaylord,Cossom,2/10/1974,gcossom57@economist.com,305-360-2104,Male,Miami,United States,US,25.735712,-80.399265,"['Documentary', 'War']","Rover, The",NaN,Yellow,America
2,Stearne,Hentzer,7/19/1988,shentzer20@ning.com,510-279-3206,Male,Oakland,United States,US,37.740000,-122.190000,['nan'],Aurora Borealis,Midland Lutheran College,NaN,America
3,Nealon,Metherell,1/3/1973,nmetherellcv@redcross.org,141-738-8630,Male,Goiatuba,Brazil,BR,-17.965933,-49.650311,['nan'],Time (Shi gan),NaN,Maroon,America
4,Ali,Linde,8/9/2000,alindeab@sciencedirect.com,513-665-6216,Male,Porto Real,Brazil,BR,-22.418384,-44.348270,"['Documentary', 'Musical']","Verdict, The",NaN,Red,America

In [24]:
df_mescolato.to_csv('./../data/new_nodes.csv')

# Edges

## Likes

In [25]:
all_edges = []

Funzione per aggiungere archi con una data probabilità

In [26]:
def add_edges_with_probability(group, probability):
    edges = []
    nodes = group.index.tolist()
    num_nodes = len(nodes)
    num_edges = int(probability * num_nodes * (num_nodes - 1) / 2)
    added_edges = set()

    while len(added_edges) < num_edges:
        node1, node2 = random.sample(nodes, 2)
        if node1 != node2 and (node1, node2) not in added_edges:
            edges.append((node1, node2))
            added_edges.add((node1, node2))

    return edges

**Step 1**: Aggiungere archi per la stessa città (20%)

In [27]:
for name, group in df_mescolato.groupby('city'):
    all_edges.extend(add_edges_with_probability(group, 0.15))

**Step 2**: Aggiungere archi per lo stesso paese (5%)

In [28]:
for name, group in df_mescolato.groupby('country'):
    all_edges.extend(add_edges_with_probability(group, 0.001))

**Step 3**: Aggiungere archi per lo stesso continente (5%)

In [29]:
for name, group in df_mescolato.groupby('continent'):
    all_edges.extend(add_edges_with_probability(group, 0.0005))

**Step 4**: Aggiungere archi casuali (1%)

In [30]:
all_ids = df_mescolato.index.tolist()
num_nodes = len(all_ids)
num_edges = int(0.0000001 * num_nodes * (num_nodes - 1) / 2)
added_edges = set()

while len(added_edges) < num_edges:
    node1, node2 = random.sample(all_ids, 2)
    if node1 != node2 and (node1, node2) not in added_edges:
        all_edges.append((node1, node2))
        added_edges.add((node1, node2))

**Step 5**: Stampare il numero di archi del grafo

In [31]:
print(f"Numero totale di archi generati: {len(all_edges)}")

Numero totale di archi generati: 3512288

In [32]:
new_edges_df = pd.DataFrame(all_edges, columns=['source', 'target'])
new_edges_df.to_csv('./../data/new_edges.csv')

## Matches

In [33]:
reciprocal_edges = []

# Creare un set di archi per la verifica rapida
edge_set = set(all_edges)

Iterare attraverso la lista degli archi

In [34]:
for u, v in all_edges:
    if (v, u) in edge_set:
        reciprocal_edges.append((u, v))

Stampare il numero totale di archi reciproci trovati

In [35]:
print(f"Numero totale di archi reciproci trovati: {len(reciprocal_edges)}")

Numero totale di archi reciproci trovati: 50522

In [36]:
matching_edges_df = pd.DataFrame(reciprocal_edges, columns=['source', 'target'])
matching_edges_df.to_csv('./../data/new_matches.csv')